.singleCompany{
    display: flex;
    width: 100%;

    .singleCompanyContainer{
        flex: 6;

        .top{
            padding: 20px;
            display: flex;
            gap: 20px;

            .left{
                flex: 2;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47); 
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
                position: relative;

                .item{
                    display: flex;
                    gap: 20px;

                    .itemImg{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details{

                        .name{
                            margin-bottom: 10px;
                            color: #00002e;
                        }

                        .detailItem{
                            margin-bottom: 10px;
                            font-size: 14px;

                            .itemKey{
                                font-weight: bold;
                                color: gray;
                                margin-right: 5px;
                            }

                            .itemValue{
                                font-weight: 300;
                            }

                            .itemValue svg{
                                display: inline;
                                margin-left: 5px;
                            }
                        }
                    }
                }

                .editButton{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    font-size: 12px;
                    color: #e290fa;
                    background-color: #dcf3fd;
                    cursor: pointer;
                    border-radius: 0px 0px 0px 5px;
                }
            }

            .right{
                flex: 2;

                .featured{
                    
                    .bottom{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;

                        .summary{
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            gap: 10px;
                        
                            .item{
                                display: flex;
                                flex-direction: column;

                                .itemTitle{
                                    align-items: flex-start;
                                    justify-content: center;
                                    display: flex;
                                }

                                .itemResult{
                                    font-size: 20px;
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                        }

                    }
                }
            }
        }

        .bottom{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47); 
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 10px 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

        }

    }
}

.table-navs {
    display: flex;
}

.title {
    font-size: 18px;
    margin-right: 20px;
    color: lightgray;
    margin-bottom: 10px;
    cursor: pointer;
}

.title.active {
    color: #e290fa;
    font-weight: bold;
}

.documents-itemImg {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    object-fit: cover;
    margin-right: 10px;
}

.documents-container {
    display: flex;
    flex-direction: row;
}

.profit-amount {
    font-size: 20px;
}

.percentage {
    font-size: 10px;
    color: rgb(141, 139, 139);
}

.left-summary {
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
}

.right-summary {
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    justify-content: center;
}