.app.dark{
    background-color: #222;
    color: white;
    width: fit-content;
    

    .chartGrid{
        stroke: rgb(228, 228, 228, 0.219);
    }

    .table{
        background-color: #222;

        .tableCell{
            color: white;
        }
    }

    .navbar{
        color: white;
        border-color: #333;

        .search{
            border-color: gray;
        }
    }

    .mNavbar .wrapper .items .item {
        color: white;
    }

    h4{
        color: white;
    }

    .statusList {
        width: fit-content;
    }

    .earnList {
        width: fit-content;
    }

    .css-5wly58-MuiDataGrid-root {
        color: white;
    }

    .user-table th {
        background-color: #111;
      }
    
      .user-entry {
        background-color: #111;
      }
    
      .user-entry:nth-child(even) {
        background-color: grey;
      }

      .report__chart{
        color: white;
      }

      .reportTitle {
        color: white;
      }

    .sidebar{
        background-color: #222;
        border-color: #333;

        .top{
            .logo{
                color: white;
            }
        }
        hr{
            border-color: #333;
        }

        ul{
            li{
                color: white;
                &:hover{
                    background-color: #333;
                }

                .icon{
                    color: white;
                }

                span{
                    color: #c6c4c4;
                }
            }
        }
    }

    .datatable .datatableTitle {
        color: white;
    }

    .datatable{
        .datagrid{
            color: white;
            border: none;

            .viewButton, .deleteButton, .cellWithStatus{
                color: white;
                border-color: wheat;
            }
        }
    }

    input{
        background-color: transparent;
    }

    .datatable .cellWithVerify .verifyButton {
        color: wheat;
        border-color: wheat;
    }

    .datatable .cellAction .trackButton {
        color: wheat;
        border-color: wheat;
    }

    .list {
        width: fit-content;
    }

    
    .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
        color: white;
    }

    .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-left: 20px;
        color: white;
    }

    .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
        color: white;
    }
}   