.datatable{
    height: 600px;
    width: 100%;
    min-width: 100vw;
    padding: 20px;

    .datagrid{
        width: 100vw;
        min-width: 100vw;
    }

.datatableTitle{
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;

    .link{
        text-decoration: none;
        color: #e290fa;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #e290fa;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
}

    .cellWithImg{
        display: flex;
        align-items: center;
        cursor: pointer;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.active{
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }

        &.inactive{
            color: crimson;
            background-color: rgba(255, 0, 0, 0.05);
        }
    }

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;

        .viewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.342);
        }

        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.283);
        }
       
    }
}

.chart-selects {
    width: 100%;
    font-size: 16px;
    border: 1px solid #3498db;
    border-radius: 4px;
    background-color: #ecf0f1;
    color: #141618;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
}

/* Style for selected option */
.chart-selects option:checked {
    background-color: #3498db;
    color: #fff;
}