.top{
    display: flex;

    .leftCard{
        flex: 50%;
    }

    .rightCard{
        flex: 50%;
    }
}

.bottom{
    display: flex;
    flex-direction: row;

    .leftCard{
        flex: 50%;
    }

    .rightCard{
        flex: 50%;
    }
}